*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    overflow: hidden;
    background-image: url('https://github.com/beathedev/cruzeiroprojeto/blob/main/imgs/Cadastrar.png');
    background-repeat:  no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 75vh;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cadastreSe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formLogin {
    padding: 5%;
    color: #0D2C3F;
    font-weight: bold;
    z-index: 2;
}

.btnLogar {
    margin-top: 2%;
    background-color: #9DAEB9;
    border: none;
    font-weight: bold;
}

.btnLogar:hover {
    background-color: #0D2C3F;
    transition: all 1s;
}


@media (max-width: 800px)
{
    
    body {
        overflow: hidden;
        background-image: none;
    }
    
}


