*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-image: url('/imgs/img2.png');
    background-size: cover;
    width: 100%;
    min-height: 75vh;
    font-weight: bold;
}


.card-form {
    margin-top: 5%;
    background-color: rgba(14, 56, 85, 0.301);
}

.card-formTitle, .form-home{
     color:#fff;
     z-index: 1;
     font-weight: bold;
}

.button {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.mainTitle {
    padding: 20px;
}

footer {
    background-color: #0D2C3F;
}

footer p {
    color: #fff;
}

footer i {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}